ballhistory {
    flex-direction: row;
    justify-content: center;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;

    ballhistoryitem {
        background-color: rgba(#1A202B,0.2);
        align-items: center;
        font-size: 24px;
        height: 60px;
        padding: 10px;
        top: 40px;
        transition: all 0.2s ease;

        .icon {
            align-items: center;
            background-color: rgba(#040507,0.7);
            border-radius: 50%;
            height: 40px;
            justify-content: center;

            &.none {
                display: none;
            }

            &.spots_1 {
                background-image: url(/ui/pool/balls/ball-spots-1.png);
            }

            &.spots_2 {
                background-image: url(/ui/pool/balls/ball-spots-2.png);
            }

            &.spots_3 {
                background-image: url(/ui/pool/balls/ball-spots-3.png);
            }

            &.spots_4 {
                background-image: url(/ui/pool/balls/ball-spots-4.png);
            }

            &.spots_5 {
                background-image: url(/ui/pool/balls/ball-spots-5.png);
            }

            &.spots_6 {
                background-image: url(/ui/pool/balls/ball-spots-6.png);
            }

            &.spots_7 {
                background-image: url(/ui/pool/balls/ball-spots-7.png);
            }

            &.stripes_1 {
                background-image: url(/ui/pool/balls/ball-stripes-1.png);
            }

            &.stripes_2 {
                background-image: url(/ui/pool/balls/ball-stripes-2.png);
            }

            &.stripes_3 {
                background-image: url(/ui/pool/balls/ball-stripes-3.png);
            }

            &.stripes_4 {
                background-image: url(/ui/pool/balls/ball-stripes-4.png);
            }

            &.stripes_5 {
                background-image: url(/ui/pool/balls/ball-stripes-5.png);
            }

            &.stripes_6 {
                background-image: url(/ui/pool/balls/ball-stripes-6.png);
            }

            &.stripes_7 {
                background-image: url(/ui/pool/balls/ball-stripes-7.png);
            }

            &.black {
                background-image: url(/ui/pool/balls/ball-black.png);
            }
        }
    }

    &.hidden {
        display: none;
    }
}
