balltray {
    flex-direction: row;
    justify-content: center;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;

    balltrayitem {
        background-color: rgba(#1A202B,0.2);
        align-items: center;
        font-size: 24px;
        height: 60px;
        padding: 10px;
        top: 40px;
        transition: all 0.2s ease;

        .icon {
            align-items: center;
            background-color: rgba(#040507,0.7);
            border-radius: 50%;
            height: 40px;
            justify-content: center;

            &.none {
                background-image: url(/ui/pool/balls/ball-unset.png);
                background-size: 100%;
                width: 32px;
                height: 32px;
            }

            &.spots_1 {
                background-image: url(/ui/pool/balls/ball-unset.png);
                background-size: 100%;
                width: 32px;
                height: 32px;
            }
        }
    }

    &.hidden {
        display: none;
    }
}
