rootpanel
{
	background-color: rgba( #333, 0 );
	transition: background-color 0.2s ease-in;
	transform-origin: 50% 50%;

	&.devcamera
	{
		display: none;
	}
}

.header {
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 64px;
	left: 0;
	right: 0;
	pointer-events: none;
}

.footer {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding-left: 10%;
	padding-right: 10%;
	position: absolute;
	bottom: 64px;
	left: 0;
	right: 0;
	pointer-events: none;
	height: 60px;
}