playerdisplay {
    align-items: center;
    flex-direction: row;
    justify-content: center;


    .time-remaining-number {
        background: linear-gradient(#5AC966,#43AC4E);
        box-shadow: 0 5px 10px rgba(#000,0.1);
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        min-width: 50px;
        height: 50px;
        opacity: 1;
        z-index: 5;
        text-align: center;
        margin: 0 8px;
        transition: all .5s ease-in-out;

        &:intro {
            transform: scale(0.9);
        }

        .time-remaining-label {
            color: #fff;
            font-weight: bold;
            font-size: 20px;
            transition: all 0.2s ease;
            text-shadow: 0 1px 0 rgba(#000,0.5);
            text-align: center;
        }

        &.low {
            background: linear-gradient(#AC4343,#AC4343);
        }
    }


    .time-bar-wrapper {
        align-items: center;
        justify-content: center;
        bottom: -16px;
        left: 20%;
        right: 20%;
        position: absolute;
        opacity: 1;
        transition: all 1s ease-in-out;

        &:intro {
            opacity: 0;
            left: 50%;
            right: 50%;
        }
        // Progress Bar
        .time-remaining {
            background-color: rgba(#1A202B,0.8);
            box-shadow: 0 10px 20px rgba(#000,0.5);
            border-radius: 8px;
            height: 8px;
            transition: all 0.2s ease;
            width: 100%;


            .time-remaining-progress {
                background-color: #43AC4E;
                border-radius: 8px;
                height: 8px;
                transition: all 0.2s ease;
                width: 100%;
            }
        }

        &.low {
            .time-remaining {
                .time-remaining-progress {
                    background-color: #AC4343;
                }
            }
        }
    }

    playerdisplayitem {
        background-color: rgba(#1A202B,0.2);
        box-shadow: 0 10px 20px rgba(#000,0.5);
        border-radius: 50%;
        align-items: center;
        font-size: 24px;
        height: 50px;
        padding: 10px;
        transition: all 1s ease-in-out;
        left: 0;
        right: 0;
        opacity: 1;

        .score-container {
            align-items: center;
            border-radius: 50%;
            height: 40px;
            justify-content: center;

            .ball {
                background-image: url(/ui/pool/balls/small/ball-unset.png);
                background-size: 100%;
                background-repeat: no-repeat;
                border-radius: 50%;
                width: 32px;
                height: 32px;
            }

            .score {
                color: #fff;
                font-size: 20px;
            }
        }

        .ball {


            &.stripes {
                background-image: url(/ui/pool/balls/small/ball-stripes.png);
                background-size: 100%;
            }

            &.spots {
                background-image: url(/ui/pool/balls/small/ball-spots.png);
                background-size: 100%;
            }
        }

        &.one {
            padding-left: 16px;

            &:intro {
                right: -10px;
                opacity: 0;
            }

            .player-container {
                flex-direction: row-reverse;
                margin-right: 8px;

                .avatar {
                    margin-left: 8px;
                }
            }
        }

        &.two {
            flex-direction: row-reverse;
            padding-right: 16px;

            &:intro {
                left: -10px;
                opacity: 0;
            }

            .player-container {
                margin-left: 8px;

                .avatar {
                    margin-right: 8px;
                }
            }
        }

        .player-container {
            flex-grow: 1;
            align-items: center;
            opacity: 0.5;

            .name {
                color: #fff;
                font-size: 18px;
                font-weight: bold;
                text-shadow: 0 1px 2px rgba(#000,0.8);
            }

            .avatar {
                border-radius: 50%;
                width: 32px;
                height: 32px;
            }

            .rank {
                &.bronze {
                    background-image: url(/ui/pool/ranks/player-bronze.png);
                    background-size: 100%;
                }

                &.silver {
                    background-image: url(/ui/pool/ranks/player-silver.png);
                    background-size: 100%;
                }

                &.gold {
                    background-image: url(/ui/pool/ranks/player-gold.png);
                    background-size: 100%;
                }

                &.platinum {
                    background-image: url(/ui/pool/ranks/player-platinum.png);
                    background-size: 100%;
                }

                &.diamond {
                    background-image: url(/ui/pool/ranks/player-diamond.png);
                    background-size: 100%;
                }
            }

            .level {
                color: white;
            }
        }

        &.active {
            background-repeat: no-repeat;

            &.one {
                background: linear-gradient(to left,rgba(#3273EB,0.5),rgba(#3273EB,0));
            }

            &.two {
                background: linear-gradient(to right,rgba(#3273EB,0.5),rgba(#3273EB,0));
            }

            .player-container {
                opacity: 1;
            }

            .time-bar-wrapper {
                opacity: 1;
            }

            .time-remaining-number {
                opacity: 1;
            }
        }

        &.hidden {
            display: none;
        }
    }



    &.hidden {
        display: none;
    }
}
