playerdisplay {
    flex-direction: row;
    justify-content: center;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;

    playerdisplayitem {
        background-color: rgba(#1A202B,0.2);
        align-items: center;
        font-size: 24px;
        height: 60px;
        padding: 10px;
        top: 40px;
        transition: all 0.2s ease;

        .score-container {
            align-items: center;
            background-color: rgba(#040507,0.7);
            border-radius: 50%;
            height: 40px;
            justify-content: center;


            .ball {
                background-image: url(/ui/pool/ball-unset.png);
                background-size: 100%;
                border-radius: 50%;
                width: 32px;
                height: 32px;
            }

            .score {
                color: #fff;
                font-size: 20px;
            }
        }

        .ball {
            box-shadow: 0 10px 20px rgba(#000,0.3);

            &.stripes {
                background-image: url(/ui/pool/ball-stripes.png);
                background-size: 100%;
            }

            &.spots {
                background-image: url(/ui/pool/ball-spots.png);
                background-size: 100%;
            }
        }

        &.one {
            border-radius: 30px 0 0 30px;
            padding-left: 16px;

            .time-bar-wrapper {
                padding-right: 32px;
                margin-left: 16px;

                .time-remaining-number {
                    right: -20px;
                }
            }

            .score-container {
                padding: 16px;
                padding-right: 8px;

                .ball {
                    margin-left: 8px;
                }
            }

            .player-container {
                flex-direction: row-reverse;
                margin-right: 16px;

                .avatar {
                    margin-left: 8px;
                }
            }
        }

        &.two {
            flex-direction: row-reverse;
            border-radius: 0 30px 30px 0;
            padding-right: 16px;


            .time-bar-wrapper {
                padding-left: 32px;
                margin-right: 16px;

                .time-remaining-number {
                    left: -20px;
                }
            }

            .score-container {
                padding: 16px;
                padding-left: 8px;
                flex-direction: row-reverse;

                .ball {
                    margin-right: 8px;
                }
            }

            .player-container {
                margin-left: 16px;

                .avatar {
                    margin-right: 8px;
                }
            }
        }

        .player-container {
            flex-grow: 1;
            align-items: center;
            opacity: 0.5;

            .name {
                color: #fff;
                font-size: 18px;
                font-weight: bold;
                text-shadow: 0 1px 2px rgba(#000,0.8);
            }

            .avatar {
                border-radius: 50%;
                width: 32px;
                height: 32px;
            }
        }

        .time-bar-wrapper {
            align-items: center;
            justify-content: center;
            bottom: -16px;
            left: 0;
            right: 0;
            position: absolute;
            opacity: 0;
            // Progress Bar
            .time-remaining {
                background-color: rgba(#1A202B,0.8);
                border-radius: 8px;
                height: 8px;
                transition: all 0.2s ease;
                width: 100%;

                .time-remaining-progress {
                    background-color: #43AC4E;
                    border-radius: 8px;
                    height: 8px;
                    transition: all 0.2s ease;
                    width: 100%;
                }
            }

            .time-remaining-number {
                background-color: rgba(#1A202B,0.8);
                border: 2px solid rgba(#1A202B,1);
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                font-weight: bold;
                min-width: 40px;
                height: 40px;
                position: absolute;

                .time-remaining-label {
                    color: #C6D4EE;
                    font-weight: bold;
                    font-size: 20px;
                    transition: all 0.2s ease;
                }
            }

            &.low {
                .time-remaining-number {
                    background-color: rgba(#AC4343,0.8);
                    border: 2px solid rgba(#AC4343,1);

                    .time-remaining-label {
                        color: #fff;
                    }
                }

                .time-remaining {
                    .time-remaining-progress {
                        background-color: #AC4343;
                    }
                }
            }
        }



        &.active {
            background-color: rgba(#1A202B,1);

            .score-container {
                background-color: rgba(#43AC4E,0.5);
            }

            .player-container {
                opacity: 1;
            }

            .time-bar-wrapper {
                opacity: 1;
            }
        }

        &.hidden {
            display: none;
        }
    }

    &.hidden {
        display: none;
    }
}
