playerdisplay {
    flex-direction: row;
    justify-content: center;
    position: absolute;
    height: 100%;
    left: 0px;
    top: 0;
    width: 100%;

    playerdisplayitem {
        align-items: center;
        font-size: 24px;
        height: 60px;
        padding: 10px;
        top: 120px;
        transform: scale(0.9);
        transition: all 0.2s ease;

        .ball {
            background-color: white;

            &.red {
                background-color: #EA5858;
            }

            &.yellow {
                background-color: #EAD458;
            }
        }

        &.one {
            .score-container {
                .ball {
                    margin-left: 8px;
                }
            }

            .player-container {
                flex-direction: row-reverse;
                margin-right: 16px;

                .avatar {
                    margin-left: 8px;
                }
            }
        }

        &.two {
            flex-direction: row-reverse;

            .score-container {
                flex-direction: row-reverse;

                .ball {
                    margin-right: 8px;
                }
            }

            .player-container {
                margin-left: 16px;

                .avatar {
                    margin-right: 8px;
                }
            }
        }

        .player-container {
            flex-grow: 1;
            align-items: center;
            opacity: 0.5;

            .name {
                color: #fff;
                font-size: 20px;
                font-weight: bold;
                text-shadow: 0 1px 2px rgba(#000,0.8);
            }

            .avatar {
                border-radius: 50%;
                width: 40px;
                height: 40px;
            }
        }


        .score-container {
            align-items: center;
            background-color: rgba(#040507,0.7);
            border-radius: 50%;
            height: 40px;
            justify-content: center;
            padding: 16px;

            .ball {
                border-radius: 50%;
                width: 20px;
                height: 20px;
            }

            .score {
                color: #fff;
                font-size: 20px;
            }
        }


        &.active {
            transform: scale(1.1);

            .score-container {
                background-color: rgba(#43AC4E,0.5);
            }

            .player-container {
                opacity: 1;
            }
        }

        &.hidden {
            display: none;
        }
    }

    &.hidden {
        display: none;
    }
}
