rulevoting {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;
    z-index: 5;

    .background {
        position: absolute;
        background-color: black;
        opacity: 0.8;
        transition: all 1s ease-in-out;
        width: 100%;
        height: 100%;
    }

    .container {
        transition: all 1s ease-in-out;
        opacity: 1;
        background-color: #333;
        border-radius: 16px;
        padding: 32px;
        width: 40%;
        height: 60%;

        .scroller {
            width: 100%;
            height: 100%;

            rulevoteitem {
                display: flex;
                flex-direction: row;
                height: 48px;
                opacity: 0.5;
                transition: all 1s ease-in-out;

                .left {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    width: 100%;

                    .name {
                        color: indianred;
                        font-size: 24px;
                    }

                    .description {
                        color: white;
                        font-size: 14px;
                    }
                }

                .right {
                    margin-left: 32px;
                    width: 25%;

                    .checkbox {
                        background-color: darkslategrey;
                        border-radius: 12px;
                        width: 48px;
                        height: 48px;
                        opacity: 0.8;

                        .enabled {
                            background-color: greenyellow;
                        }

                        &:hover {
                            opacity: 1;
                        }

                        &:active {
                            transform: scale(0.9);
                        }
                    }

                    .voter {
                        border-radius: 50%;
                        margin-left: 16px;
                        width: 32px;
                        height: 32px;

                        &.hidden {
                            display: none;
                        }
                    }
                }

                &.enabled {
                    .name {
                        color: lightgreen;
                    }

                    opacity: 1;
                }
            }
        }
    }
}
