toastlist {
	position: absolute;
	bottom: 80px;
	right: 50%;
	flex-direction: column;
	padding: 5px;
	padding-bottom: 0px;
	transform: translateX(50%);
	transform-origin: center;

	toastitem {
		align-items: center;
		align-content: center;
		background-color: rgba( #1A202B, 0.9 );
		border-radius: 32px;
		flex-direction: row;
		margin-bottom: 5px;
		height: 60px;
		padding: 8px;
		transition: all 0.2s ease-out;

		&:intro {
			opacity: 0;
			transform: scale( 0 );
		}

		&:outro {
			opacity: 0;
			transition: all 0.2s ease-out;
		}

		.text {
			color: white;
			font-size: 16px;
			font-family: Poppins;
			margin-left: 8px;
			flex-grow: 1;
			margin-right: 16px;
		}

		.circle {
			background-color: #43AC4E;
			border-radius: 50%;
			align-items: center;
			justify-content: center;
			width: 60px;
			height: 60px;
			position: absolute;
			right: -68px;

			.icon {
				background-color: white;
				background-size: 100%;
				width: 24px;
				height: 24px;

				&.hello {
					background-color: green;
				}
			}

			&.hidden {
				display: none;
			}
		}

		.avatar {
			width: 44px;
			height: 44px;
			border-radius: 50%;
		}
	}
}
